@import "tailwindcss";

:root {
    --background: #EBC8C6;
    --foreground: #171717;
    --font-nerko-one: "Nerko One", cursive; /* Define the font variable if you want to use it */
    --font-bellota-text: "Bellota Text", cursive;
    --font-coming-soon: "Coming Soon", cursive;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #EBC8C6;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-nerko-one);
    margin: 0;
    height: 100%;
    background-size: 100% 100%;
    position: relative;
}
.font-bellota {
    font-family: var(--font-bellota-text);
}

.font-nerko {
    font-family: var(--font-nerko-one);
}

.font-coming-soon {
    font-family: var(--font-coming-soon);
}